@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.in{
  color: #282c34;
}
.recipe div{
  font-size: 30px;
  font-family:cursive;
  color: white;
  height: 700px;
  box-shadow: 
   black 0px 0px 10px 0px;
}
.recipe Form{
  padding-top: 70px;
}
.home h1{
  font-family:cursive;
}
.food{
  height: 100px;
  width: 200px;
}
